.header {
  max-width: 880px;
  height: 74px;
  margin: 0 200px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;;
}

@media screen and (max-width: 1000px) {
  .header {
    height: 56px;
    padding-top: 28px;
    margin: auto;
  }
}