.elements__like-button_active {
  width: 22px;
  height: 19px;
  background-image: url(../../../../images/elements/elements-heart-active.svg);
  background-size: cover;
  flex-shrink: 0;
  margin: 5px 5px 0 0;
}